{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pedidos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Necesito</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Lugarentrega</th>
                <th>Vigenciadesde</th>
                <th>Vigenciahasta</th>
                <th>Createdat</th>
                <th>Updateat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td><a href="{{ path('pedido_show', { 'id': pedido.id }) }}">{{ pedido.id }}</a></td>
                <td>{{ pedido.necesito }}</td>
                <td>{{ pedido.descripcion }}</td>
                <td>{{ pedido.cantidad }}</td>
                <td>{{ pedido.lugarEntrega }}</td>
                <td>{% if pedido.vigenciaDesde %}{{ pedido.vigenciaDesde|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pedido.vigenciaHasta %}{{ pedido.vigenciaHasta|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pedido.createdAt %}{{ pedido.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pedido.updateAt %}{{ pedido.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pedido_show', { 'id': pedido.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pedido_edit', { 'id': pedido.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ absolute_url(asset('')) }}app_dev.php/pedido/{{ pedido.id }}/deletepost"
                             onclick="return confirm('This action cannot be undone')"> delete </a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pedido_new') }}">Create a new pedido</a>
        </li>
    </ul>
{% endblock %}
