{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pedido</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pedido.id }}</td>
            </tr>
            <tr>
                <th>Necesito</th>
                <td>{{ pedido.necesito }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ pedido.descripcion }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ pedido.cantidad }}</td>
            </tr>
            <tr>
                <th>Lugarentrega</th>
                <td>{{ pedido.lugarEntrega }}</td>
            </tr>
            <tr>
                <th>Vigenciadesde</th>
                <td>{% if pedido.vigenciaDesde %}{{ pedido.vigenciaDesde|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Vigenciahasta</th>
                <td>{% if pedido.vigenciaHasta %}{{ pedido.vigenciaHasta|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if pedido.createdAt %}{{ pedido.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{% if pedido.updateAt %}{{ pedido.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pedido_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pedido_edit', { 'id': pedido.id }) }}">Edit</a>
        </li>
        <li>
                {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("Are you sure?")'}}) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
