{% extends 'index.html.twig' %}

{% block title %}
  {{parent()}}
{% endblock %}

{% block stylesheets %}
  {{parent()}}
{% endblock %}

{%  block javascripts_head %}
{% endblock %}

{% block menu %}
    {{parent()}}
{% endblock %}

{% block inicio %}
  {{parent()}}
{% endblock %}

{% block review %}
{{parent()}}
{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}

{% block javascript %}
{{parent()}}
{% endblock %}

{% block content %}

{% endblock %}
