{% extends '@PetkoparaCrudGenerator/base.html.twig' %}

{% block title %}
{{ parent() }} - usuario
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View usuario <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ usuario.id }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Email</strong></p>
        <p>
            {{ usuario.email }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Estado</strong></p>
        <p>
            {{ usuario.estado }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Password</strong></p>
        <p>
            {{ usuario.password }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Role</strong></p>
        <p>
            {{ usuario.role }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Createdat</strong></p>
        <p>
            {% if usuario.createdAt %}{{ usuario.createdAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Firstlogin</strong></p>
        <p>
            {% if usuario.firstLogin %}{{ usuario.firstLogin|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Lastlogin</strong></p>
        <p>
            {% if usuario.lastLogin %}{{ usuario.lastLogin|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div></div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('usuario') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('usuario_edit', { 'id':  usuario.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('usuario_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('usuario_delete', { 'id': usuario.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}
