{% extends '@PetkoparaCrudGenerator/base.html.twig' %}

{% block title %}
{{ parent() }} - publicacion
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View publicacion <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ publicacion.id }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Tipo</strong></p>
        <p>
            {{ publicacion.tipo }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Createat</strong></p>
        <p>
            {% if publicacion.createAt %}{{ publicacion.createAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Updateat</strong></p>
        <p>
            {% if publicacion.updateAt %}{{ publicacion.updateAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>



{{dump(publicacion)}}

    <div class="col-md-6">
        <p><strong>Foto</strong></p>
        <p>
            {% if publicacion.imageFile %}
              <img src="{{ vich_uploader_asset(publicacion.imageFile, 'publicacion.imageFile') }}" alt="{{ publicacion.imageName }}" />
            {% endif %}
        </p>

    </div>

  </div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('publicacion') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('publicacion_edit', { 'id':  publicacion.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('publicacion_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('publicacion_delete', { 'id': publicacion.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}
