{% trans_default_domain 'FOSUserBundle' %} {% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="form-box" id="login-box">
    <div class="header">Sign In</div>
    <form action="{{ path('fos_user_security_check') }}" method="post">
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" name="_username" class="form-control" placeholder="username" value="{{ last_username }}" />
            </div>
            <div class="form-group">
                <input type="password" name="_password" class="form-control" placeholder="Password" />
            </div>
            {#
            <div class="form-group">
                <input type="checkbox" name="remember_me" /> Remember me
            </div>
            #}
        </div>
        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">Sign me in</button>

            <p><a href="#">I forgot my password</a></p>

            <a href="/register" class="text-center">Register a new membership</a>
        </div>
        {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /> {% endif %}
    </form>


</div>