{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actividad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actividad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ actividad.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ actividad.codigo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actividad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('actividad_edit', { 'id': actividad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
