{% extends "::base.html.twig" %}

{% block title %}MProdNexoEmpresaBundle:Security:login{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}"/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password"/>

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account"/>
    #}

    <button type="submit">login</button>
</form>

<h1>Welcome to the Security:login page</h1>
{% endblock %}
